<section class="inner">
  <header class="major">
  </header>
</section>

<section class="inner">
  <header class="major">
    <h2>Tanösvény projekt</h2>
  </header>

  <p>Üdvözöllek a Tanösvény adatbázis oldalán! Itt találod Magyarország nemzeti parkjainak és tanösvényeinek adatait.</p>

  <div class="row gtr-50 gtr-uniform">
    <div class="col-6">
      <span class="image fit">
        <img src="/images/kep1.jpg" alt="Tanösvény kép 1" />
      </span>
    </div>
    <div class="col-6">
      <span class="image fit">
        <img src="/images/kep2.jpg" alt="Tanösvény kép 2" />
      </span>
    </div>
  </div>
</section>
