<section class="inner">
  <header class="major"><h2>Kapcsolat</h2></header>
  <form method="post" action="/kapcsolat">
    <div class="row gtr-uniform">
      <div class="col-6 col-12-xsmall">
        <label>Név</label>
        <input type="text" name="name" required />
      </div>
      <div class="col-6 col-12-xsmall">
        <label>E-mail</label>
        <input type="email" name="email" required />
      </div>
      <div class="col-12">
        <label>Üzenet</label>
        <textarea name="message" rows="5" required></textarea>
      </div>
      <div class="col-12">
        <ul class="actions">
          <li><button type="submit" class="button primary">Küldés</button></li>
        </ul>
      </div>
    </div>
  </form>
</section>