<section class="inner">
  <header class="major"><h2>Köszönjük az üzenetet!</h2></header>
  <p>Hamarosan felvesszük veled a kapcsolatot.</p>
  <a href="/app156/" class="button">Vissza a főoldalra</a>
</section>